
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding-top: 70px;
  scroll-behavior: smooth;
}


.navbar {
  background-color: #000 !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-brand,
.nav-link {
  color: #fff !important;
}

.nav-link {
  margin-left: 15px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #00adb5 !important;
  }
.hero-section {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.3rem;
  margin-bottom: 20px;
}


.btn-primary {
  background-color: #00adb5;
  border: none;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #008891;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #000 !important;
}

section {
  padding: 70px 0;
}


.card,
.info-card,
.skill-card,
.project-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.card:hover,
.info-card:hover,
.skill-card:hover,
.project-card:hover {
  transform: translateY(-8px);
}


.skill-card h5 {
  color: #00adb5;
  font-weight: 600;
}


.progress {
  height: 8px;
  border-radius: 10px;
}

.progress-bar {
  background-color: #00adb5;
}


.about-section p {
  line-height: 1.7;
}



.contact-section {
  background-color: #222;
  color: white;
}

.contact-section a {
  color: #00adb5;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

footer {
  background-color: #000;
  color: white;
  padding: 15px 0;
  font-size: 14px;
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}
